<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <div class="nav">
            <a href="/" class="logo-button">
                <img class="logo" src="~/images/Logo-wrapper.svg" alt="Logo" />
            </a>
            <div class="nav-content">
                <div class="nav-buttons">
                    <a asp-controller="Forum" asp-action="SectionsAndTopicsList" class="nav-button">Forum</a>
                    <a asp-controller="Calendar" asp-action="Index" class="nav-button">Calendar</a>
                    <a asp-controller="Store" asp-action="Index" class="nav-button">Store</a>
                    <a asp-controller="News" asp-action="Index" class="nav-button">News</a>
                </div>
                <div class="account-wrapper">
                    <a asp-controller="Account" asp-action="Login" class="account">Sign in</a>
                </div>
            </div>
        </div>
    </header>

        @RenderBody()
    
    <footer>
        <div class="footer-section">
            <div class="footer-section-title">
                Website
            </div>
            <div class="footer-section-element">
                Report problem
            </div>
            <div class="footer-section-element">
                Cookies
            </div>
        </div>
        <div class="footer-section">
            <div class="footer-section-title">
                Company
            </div>
            <div class="footer-section-element">
                About us
            </div>
            <div class="footer-section-element">
                Privacy policy
            </div>
        </div>
        <div class="footer-section">
            <div class="footer-section-title">
                Currencies
            </div>
            <div class="footer-section-element">
                Exchange rates
            </div>
        </div>
        <div class="footer-section">
            <div class="footer-section-title">
                For developers
            </div>
            <div class="footer-section-element">
                API documentation
            </div>
        </div>
        <div class="footer-section">
            <div class="footer-section-title">
                Help
            </div>
            <div class="footer-section-element">
                FAQ
            </div>
            <div class="footer-section-element">
                Contact
            </div>
        </div>
    </footer>
</body>
@RenderSection("Scripts", required: false)
</html>