<link rel="stylesheet" href="~/css/accountsubmenu.css" />

<div class="sign-in__submenu">
    <div class="submenu__title">
        Account
    </div>
    <ul class="sign-in__nav">
        <li>
            <a class="sign-in__link" href="#">
                <img class="sign-in__icon" src="~/images/bell.svg">
                <div class="sign-in_text">
                    Profile
                </div>
            </a>
        </li>
        <li>
            <a class="sign-in__link" href="#">
                <img class="sign-in__icon" src="~/images/human.svg">
                <div class="sign-in_text">
                    Alerts
                </div>
            </a>
        </li>
        <li>
            <a class="sign-in__link" href="#">
                <img class="sign-in__icon" src="~/images/human.svg">
                <div class="sign-in_text">
                    Users
                </div>
            </a>
        </li>
        <li>
            <a class="sign-in__link logout" href="#">
                <img class="sign-in__icon" src="~/images/logout.svg">
                <div class="sign-in_text">
                    Log out
                </div>
            </a>
        </li>
    </ul>
</div>