<link rel="stylesheet" href="~/css/accountsubmenu.css" />
<div class="sign-in__submenu">
    <div class="submenu__title">
        Account
    </div>
    <ul class="sign-in__nav">
        <li>
            <a asp-controller="User" asp-action="ProfileView" asp-route-id="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value" class="sign-in__link">
                <img class="sign-in__icon" src="~/images/human.svg">
                <div class="sign-in_text">
                    My Profile
                </div>
            </a>
        </li>
        <li>
            <a class="sign-in__link" href="#">
                <img class="sign-in__icon" src="~/images/bell.svg">
                <div class="sign-in_text">
                    Alerts
                </div>
            </a>
        </li>
        <li>
            <a asp-controller="User" asp-action="ProfilesList" class="sign-in__link">
                <img class="sign-in__icon" src="~/images/human.svg">
                <div class="sign-in_text">
                    Users
                </div>
            </a>
        </li>
        @if (User.IsInRole("Admin"))
        {
            <li>
                <a asp-controller="User" asp-action="BansList" class="sign-in__link">
                <img class="sign-in__icon" src="~/images/block-user.png">
                <div class="sign-in_text">
                    Blocked List
                </div>
                </a>
            </li>
        }
        <li>
            <a asp-controller="User" asp-action="ReportsList" class="sign-in__link">
                <img class="sign-in__icon" src="~/images/report-user.png">
                <div class="sign-in_text">
                    Reports List
                </div>
            </a>
        </li>
        @if (User.IsInRole("Admin"))
        {
            <li>
                <a asp-controller="Problem" asp-action="BugReports" class="sign-in__link">
                    <img class="sign-in__icon" src="~/images/bug-list-icon.png">
                    <div class="sign-in_text">
                        Bug Reports
                    </div>
                </a>
            </li>
        }
        @if (!User.IsInRole("Admin"))
        {
            <li>
                <a asp-controller="Problem" asp-action="Report" class="sign-in__link">
                <img class="sign-in__icon" src="~/images/bug-icon.svg">
                <div class="sign-in_text">
                    Report bug
                </div>
            </a>
        </li>
        }
        <li>
            <a asp-controller="User" asp-action="Logout" class="sign-in__link logout">
                <img class="sign-in__icon" src="~/images/logout.svg">
                <div class="sign-in_text">
                    Log out
                </div>
            </a>
        </li>
    </ul>
</div>