@model BusinessLogic.DTO.Section.AddSectionDTO;
@{
    ViewData["Title"] = "Forum - Add Section";
}
@section Styles {
    <link rel="stylesheet" href="~/css/addEditSection.css" />
}
@section Scripts{
        <script src="~/js/addEditSection.js"></script>
        <script src="~/js/banReportAccount.js"></script>
}
<main>
    <div class="form-container">
        <h2>Add new section</h2>
        <form asp-action="AddEvent" method="post">
            <div class="form-title">
                <input type="text" id="title" placeholder="Title of the section" asp-for="Title">
            </div>
            <div class="upload-section">
                <img src="~/images/load_image.png" alt="Upload" class="upload-icon" id="upload-image">
                <input type="file" id="file-upload" style="display: none;" accept="image/*" />
                <input style="display: none" id="base64" type="text" asp-for="Image.Base64" />
                <input style="display: none" id="extension" type="text" asp-for="Image.Extension" />
            </div>
            <div class="form-category">
                <div class="category-image">
                    <label for="category">Parent category</label>

                </div>
                <div class="category-list" id="category-list">
                    <select>
                        <option value="none">brak</option>
                        <option value="electric">Electric Cars</option>
                    </select>
                </div>
            </div>
            <div class="form-actions">
                <button type="button" class="cancel-btn">Cancel</button>
                <button type="submit" class="create-btn">Create</button>
            </div>
        </form>
    </div>

</main>