@{
    ViewData["Title"] = "Forum - Section List";
}
@section Styles {
    <link rel="stylesheet" href="~/css/sectionsList.css" />
}

<section>
    <div class="up-section">
        <div class="nav-tree">
            <label for="place">Forum</label>
        </div>
        <div class="sort">
            <label for="sort_by">Sort By</label>
            <select id="type">
                <option value="alpabetical_asc">Alpabetical ACS</option>
                <option value="alphabetical_desc">Alpabetical DESC</option>
            </select>
        </div>
    </div>
    <div class="second-section">
        <div class="search-bar">
            <img src="../static/images/peel.svg" alt="peel" class="peel-icon" id="peel-icon">
            <input type="text" id="search" placeholder="Search">
        </div>
        <div class="adding-section">
            <button class="add-section">
                Add new section
            </button>
        </div>
    </div>
</section>
<main>
    <ul>
        <li>
            <img src="../static/images/auto-z-usa-autobaza.jpg" alt="car" class="section-image" id="section-image">
            <div class="section-info">
                <div class="section-buttons">
                    <button class="go_in-btn" id="go_in-section">
                        <img src="../static/images/go_in.png" alt="go_in" class="go_in-image" id="go_in-image">
                    </button>
                    <button class="hide-btn" id="hide-button">
                        <img src="../static/images/hidden_4983669.png" alt="hide" class="hide-image" id="hide-image">
                    </button>
                    <button class="edit-btn" id="edit-button">
                        <img src="../static/images/draw.png" alt="edit" class="edit-image" id="edit-image">
                    </button>
                </div>
                <label>Electric Cars</label>
            </div>
        </li>
        <li>
            <img src="../static/images/auto-z-usa-autobaza.jpg" alt="car" class="section-image" id="section-image">
            <div class="section-info">
                <div class="section-buttons">
                    <button class="go_in-btn" id="go_in-section">
                        <img src="../static/images/go_in.png" alt="go_in" class="go_in-image" id="go_in-image">
                    </button>
                    <button class="hide-btn" id="hide-button">
                        <img src="../static/images/hidden_4983669.png" alt="hide" class="hide-image" id="hide-image">
                    </button>
                    <button class="edit-btn" id="edit-button">
                        <img src="../static/images/draw.png" alt="edit" class="edit-image" id="edit-image">
                    </button>
                </div>
                <label>Electric Cars</label>
            </div>
        </li>
        <li>
            <img src="../static/images/auto-z-usa-autobaza.jpg" alt="car" class="section-image" id="section-image">
            <div class="section-info">
                <div class="section-buttons">
                    <button class="go_in-btn" id="go_in-section">
                        <img src="../static/images/go_in.png" alt="go_in" class="go_in-image" id="go_in-image">
                    </button>
                    <button class="hide-btn" id="hide-button">
                        <img src="../static/images/hidden_4983669.png" alt="hide" class="hide-image" id="hide-image">
                    </button>
                    <button class="edit-btn" id="edit-button">
                        <img src="../static/images/draw.png" alt="edit" class="edit-image" id="edit-image">
                    </button>
                </div>
                <label>Electric Cars</label>
            </div>
        </li>
        <li>
            <img src="../static/images/auto-z-usa-autobaza.jpg" alt="car" class="section-image" id="section-image">
            <div class="section-info">
                <div class="section-buttons">
                    <button class="go_in-btn" id="go_in-section">
                        <img src="../static/images/go_in.png" alt="go_in" class="go_in-image" id="go_in-image">
                    </button>
                    <button class="hide-btn" id="hide-button">
                        <img src="../static/images/hidden_4983669.png" alt="hide" class="hide-image" id="hide-image">
                    </button>
                    <button class="edit-btn" id="edit-button">
                        <img src="../static/images/draw.png" alt="edit" class="edit-image" id="edit-image">
                    </button>
                </div>
                <label>Electric Cars</label>
            </div>
        </li>
        <li>
            <img src="../static/images/auto-z-usa-autobaza.jpg" alt="car" class="section-image" id="section-image">
            <div class="section-info">
                <div class="section-buttons">
                    <button class="go_in-btn" id="go_in-section">
                        <img src="../static/images/go_in.png" alt="go_in" class="go_in-image" id="go_in-image">
                    </button>
                    <button class="hide-btn" id="hide-button">
                        <img src="../static/images/hidden_4983669.png" alt="hide" class="hide-image" id="hide-image">
                    </button>
                    <button class="edit-btn" id="edit-button">
                        <img src="../static/images/draw.png" alt="edit" class="edit-image" id="edit-image">
                    </button>
                </div>
                <label>Electric Cars</label>
            </div>
        </li>
        <li>
            <img src="../static/images/auto-z-usa-autobaza.jpg" alt="car" class="section-image" id="section-image">
            <div class="section-info">
                <div class="section-buttons">
                    <button class="go_in-btn" id="go_in-section">
                        <img src="../static/images/go_in.png" alt="go_in" class="go_in-image" id="go_in-image">
                    </button>
                    <button class="hide-btn" id="hide-button">
                        <img src="../static/images/hidden_4983669.png" alt="hide" class="hide-image" id="hide-image">
                    </button>
                    <button class="edit-btn" id="edit-button">
                        <img src="../static/images/draw.png" alt="edit" class="edit-image" id="edit-image">
                    </button>
                </div>
                <label>Electric Cars</label>
            </div>
        </li>
        <li>
            <img src="../static/images/auto-z-usa-autobaza.jpg" alt="car" class="section-image" id="section-image">
            <div class="section-info">
                <div class="section-buttons">
                    <button class="go_in-btn" id="go_in-section">
                        <img src="../static/images/go_in.png" alt="go_in" class="go_in-image" id="go_in-image">
                    </button>
                    <button class="hide-btn" id="hide-button">
                        <img src="../static/images/hidden_4983669.png" alt="hide" class="hide-image" id="hide-image">
                    </button>
                    <button class="edit-btn" id="edit-button">
                        <img src="../static/images/draw.png" alt="edit" class="edit-image" id="edit-image">
                    </button>
                </div>
                <label>Electric Cars</label>
            </div>
        </li>
        <li>
            <img src="../static/images/auto-z-usa-autobaza.jpg" alt="car" class="section-image" id="section-image">
            <div class="section-info">
                <div class="section-buttons">
                    <button class="go_in-btn" id="go_in-section">
                        <img src="../static/images/go_in.png" alt="go_in" class="go_in-image" id="go_in-image">
                    </button>
                    <button class="hide-btn" id="hide-button">
                        <img src="../static/images/hidden_4983669.png" alt="hide" class="hide-image" id="hide-image">
                    </button>
                    <button class="edit-btn" id="edit-button">
                        <img src="../static/images/draw.png" alt="edit" class="edit-image" id="edit-image">
                    </button>
                </div>
                <label>Electric Cars</label>
            </div>
        </li>
    </ul>
</main>
