@{
    ViewData["Title"] = "Alerts - Notifications";
}
@section Styles {
    <link rel="stylesheet" href="~/css/notificationsView.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baumans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
}
<div class="notify">
    <div class="notify_title padding">
        Notifications (1)
    </div>
    <div class="notify_content">
        <div class="notify_day-container">
            <div class="day-container__date padding">
                Today
            </div>
            <div class="day-container__messages">
                <div class="message padding">
                    <div class="message-photo">
                        <img src="~/images/bmw_icon.svg">
                    </div>
                    <div class="message-description">
                        Hi everyone! I've been eagerly awaiting the launch of the new BMW model, and I must say it exceeded my expectations! What are your thoughts? Has anyone had the chance to test drive it yet?
                    </div>
                </div>
                <div class="message padding">
                    <div class="message-photo">
                        <img src="~/images/bmw_icon.svg">
                    </div>
                    <div class="message-description">
                        Hi everyone! I've been eagerly awaiting the launch of the new BMW model, and I must say it exceeded my expectations! What are your thoughts? Has anyone had the chance to test drive it yet?
                    </div>
                </div>
            </div>
        </div>
        <div class="notify_day-container">
            <div class="day-container__date padding">
                Today
            </div>
            <div class="day-container__messages">
                <div class="message padding">
                    <div class="message-photo">
                        <img src="~/images/bmw_icon.svg">
                    </div>
                    <div class="message-description">
                        Hi everyone! I've been eagerly awaiting the launch of the new BMW model, and I must say it exceeded my expectations! What are your thoughts? Has anyone had the chance to test drive it yet?
                    </div>
                </div>
                <div class="message padding">
                    <div class="message-photo">
                        <img src="~/images/bmw_icon.svg">
                    </div>
                    <div class="message-description">
                        Hi everyone! I've been eagerly awaiting the launch of the new BMW model, and I must say it exceeded my expectations! What are your thoughts? Has anyone had the chance to test drive it yet?
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
