@{
    ViewData["Title"] = "Calendar - Details Event";
}
@section Styles {
    <link rel="stylesheet" href="~/css/detailsEvent.css" />
}
@section Scripts {
    <script src="~/js/detailsEvent.js"></script>
}
<main>
    <div class="info-container">
        <label>Car Show Wrocław 2024</label>
        <div class="main-info">
            <div class="description">
                <span>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                </span>
            </div>
            <div class="rest-group">
                <img src="~/images/auto-z-usa-autobaza.jpg" alt="car" class="car-image" id="car-image">
                <button class="edit-button">
                    <label>Edit</label>
                    <img src="~/images/draw.png" alt="edit" class="edit-image" id="edit-image" width="35px" height="35px">
                </button>
                <button class="delete-button">
                    <label>Delete</label>
                    <img src="~/images/x-button.png" alt="delete" class="x-image" id="x-image" width="35px" height="35px">
                </button>
            </div>
        </div>
        <div class="event-content">
            <label>by</label>
            <button class="profil-btn" id="profil-button">
                <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
            </button>
            <label>RoyBig</label>
        </div>
        <div class="event-content">
            <label>Wrocław</label>
            <img src="~/images/pin.png" alt="pin" class="pin-image" id="pin-image">
        </div>
        <div class="event-content">
            <label>From</label>
            <label class="hour">10:15</label>
            <label class="date">30-11-2022</label>
            <img src="~/images/calendar.png" alt="calendar" class="calendar-image" id="calendar-image">
            <label>To</label>
            <label class="hour">12:00</label>
            <label class="date">30-11-2022</label>
            <img src="~/images/calendar.png" alt="calendar" class="calendar-image" id="calendar-image">
        </div>
        <div class="line">
        </div>
        <div class="interested-section">
            <div class="interested-header">
                <img src="~/images/group.png" alt="group" class="group-image" id="group-image">
                <span>250 Interested</span>
                <button id="toggle-list">▼</button>
            </div>
            <ol class="interested-list hidden">
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
            </ol>
        </div>
        <div class="details-action">
            <button class="go-back">
                <span>Take me back</span>
            </button>
            <button class="show-more">
                <span>Show more details</span>
            </button>
        </div>
    </div>
</main>
