@{
    ViewData["Title"] = "News - Posts List";
}
@section Styles {
    <link rel="stylesheet" href="~/css/postsList.css" />
}
@section Scripts {
    <script src="~/js/postComments.js"></script>
}
<div class="listNews">
    <section>
        <div class="up-section">
            <div class="nav-tree">
                <label for="place">News</label>
            </div>
            <div class="sort">
                <label for="sort_by">Sort By</label>
                <select id="type">
                    <option value="date_adc">Date ACS</option>
                    <option value="date_desc">Date DESC</option>
                    <option value="alpabetical_asc">Alpabetical ACS</option>
                    <option value="alphabetical_desc">Alpabetical DESC</option>
                </select>
            </div>
        </div>
        <div class="second-section">
            <div class="filter-by">
                <label>Filter by</label>
                <button class="clear">
                    <span>X Clear All</span>
                </button>
            </div>
            <div class="filter-group">
                <div class="date-group">
                    <label for="datetime-from">Date from</label>
                    <input type="datetime-local" id="datetime-from">
                </div>
                <div class="date-group">
                    <label for="datetime-to">Date to</label>
                    <input type="datetime-local" id="datetime-to">
                </div>
            </div>
            <div class="location-group">
                <label for="status">Status</label>
                <div class="status-group">
                    <label class="status">Owner</label>
                    <input type="checkbox" id="status1" name="owner" value="owner">
                </div>
                <div class="status-group">
                    <label class="status">Liked</label>
                    <input type="checkbox" id="status2" name="interested" value="interested">
                </div>
                <div class="status-group">
                    <label class="status">Member</label>
                    <input type="checkbox" id="status2" name="interested" value="interested">
                </div>
            </div>
            <div class="search-bar">
                <img src="~/images/peel.svg" alt="peel" class="peel-icon" id="peel-icon">
                <input type="text" id="search" placeholder="Search">
            </div>
            <div class="adding-section">
                <button class="add-section">
                    Plan new event
                </button>
            </div>
        </div>
    </section>
    <main>
        <ul>
            <li>
                <button class="edit-btn">
                    <img src="~/images/draw.png" alt="edit" class="edit-icon" id="edit-icon">
                </button>
                <div class="main-post">
                    <div class="post-info">
                        <div class="profile">
                            <button class="profile-btn">
                                <img src="~/images/profilowe.jpg" alt="delete" class="x-icon" id="x-image">
                            </button>
                            <span>RoyBig</span>
                        </div>
                        <div class="create-time">
                            <img src="~/images/clock.png" alt="clock" class="clock-icon" id="clock-icon">
                            <div class="date">
                                <span>4 days ago</span>
                            </div>
                        </div>
                    </div>
                    <img src="~/images/auto-z-usa-autobaza.jpg" alt="photo" class="photo" id="photo">
                    <div class="post-content">
                        <span>
                            Dzisiaj w Białymstoku najelszpy w historii ifa9foawfoaw fafawfaw!!!!!<br>
                            #bądzmy razem<br>
                            #ezz
                        </span>
                    </div>
                    <div class="line">
                    </div>
                    <div class="action-group">
                        <div class="interacted-group">
                            <button class="like-btn">
                                <img src="~/images/like.png" alt="like" class="like-icon" id="like-image">
                            </button>
                            <span>3304</span>
                        </div>
                        <div class="interacted-group">
                            <button class="comments-btn">
                                <img src="~/images/comments.png" alt="comments" class="comments-icon" id="comments-image">
                            </button>
                            <span><b>Comments</b></span>
                        </div>
                    </div>
                </div>
                <button class="x-btn">
                    <img src="~/images/x-button.png" alt="delete" class="x-icon" id="x-image">
                </button>
            </li>
            <li>
                <button class="edit-btn">
                    <img src="~/images//draw.png" alt="edit" class="edit-icon" id="edit-icon">
                </button>
                <div class="main-post">
                    <div class="post-info">
                        <div class="profile">
                            <button class="profile-btn">
                                <img src="~/images/profilowe.jpg" alt="delete" class="x-icon" id="x-image">
                            </button>
                            <span>RoyBig</span>
                        </div>
                        <div class="create-time">
                            <img src="~/images/clock.png" alt="clock" class="clock-icon" id="clock-icon">
                            <div class="date">
                                <span>22:26</span>
                                <label>10-10-2024</label>
                            </div>
                        </div>
                    </div>
                    <div class="post-content">
                        <span>
                            Dzisiaj w Białymstoku najelszpy w historii ifa9foawfoaw fafawfaw!!!!!<br>
                            #bądzmy razem<br>
                            #ezz
                        </span>
                    </div>
                    <div class="line">
                    </div>
                    <div class="action-group">
                        <div class="interacted-group">
                            <button class="like-btn">
                                <img src="~/images/like.png" alt="like" class="like-icon" id="like-image">
                            </button>
                            <span>3304</span>
                        </div>
                        <div class="interacted-group">
                            <button class="comments-btn">
                                <img src="~/images/comments.png" alt="comments" class="comments-icon" id="comments-image">
                            </button>
                            <span>5</span>
                            <span><b>Comments</b></span>
                        </div>
                    </div>
                </div>
                <button class="x-btn">
                    <img src="~/images/x-button.png" alt="delete" class="x-icon" id="x-image">
                </button>
            </li>
            <li>
                <button class="edit-btn">
                    <img src="~/images/draw.png" alt="edit" class="edit-icon" id="edit-icon">
                </button>
                <div class="main-post">
                    <div class="post-info">
                        <div class="profile">
                            <button class="profile-btn">
                                <img src="~/images/profilowe.jpg" alt="delete" class="x-icon" id="x-image">
                            </button>
                            <span>RoyBig</span>
                        </div>
                        <div class="create-time">
                            <img src="~/images/clock.png" alt="clock" class="clock-icon" id="clock-icon">
                            <div class="date">
                                <span>22:26</span>
                                <label>10-10-2024</label>
                            </div>
                        </div>
                    </div>
                    <img src="~/images/Toyota-Aygo_02.jpg" alt="photo" class="photo" id="photo">
                    <div class="post-content">
                        <span>
                            Dzisiaj w Białymstoku najelszpy w historii ifa9foawfoaw fafawfaw!!!!!<br>
                            #bądzmy razem<br>
                            #ezz
                        </span>
                    </div>
                    <div class="line">
                    </div>
                    <div class="action-group">
                        <div class="interacted-group">
                            <button class="like-btn">
                                <img src="~/images/like.png" alt="like" class="like-icon" id="like-image">
                            </button>
                            <span>3304</span>
                        </div>
                        <div class="interacted-group">
                            <button class="comments-btn">
                                <img src="~/images/comments.png" alt="comments" class="comments-icon" id="comments-image">
                            </button>
                            <span><b>Comments</b></span>
                        </div>
                    </div>
                </div>
                <button class="x-btn">
                    <img src="~/images/x-button.png" alt="delete" class="x-icon" id="x-image">
                </button>
            </li>
        </ul>
    </main>
</div>
<div id="commentsWindow" class="commentsWindow">
    <div class="comments-content">
        <button id="edit-comment-btn" class="edit-comment-btn">
            <img src="~/images/draw.png" alt="edit" class="edit-icon" id="edit-icon">
        </button>
        <button id="cancel-edit-btn" class="cancel-edit-btn">
            <img src="~/images/x-button.png" alt="cancel" class="cancel-icon" id="cancel-icon">
        </button>
        <div class="main-post">
            <div class="post-info">
                <div class="profile">
                    <button class="profile-btn">
                        <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img" id="profil-img">
                    </button>
                    <span>RoyBig</span>
                </div>
                <div class="create-time">
                    <img src="~/images/clock.png" alt="clock" class="clock-icon" id="clock-icon">
                    <div class="date">
                        <span>22:26</span>
                        <label>10-10-2024</label>
                    </div>
                </div>
            </div>
            <div class="editable-post-content">
                <span id="editable-content" class="editable-content">
                    Kozak byczq
                </span>
            </div>
            <div class="line">
            </div>
            <div class="action-group">
                <div class="interacted-group">
                    <button class="like-btn">
                        <img src="~/images/like.png" alt="like" class="like-icon" id="like-image">
                    </button>
                    <span>122</span>
                    <button class="dislike-btn">
                        <img src="~/images/dislike.png" alt="dislike" class="dislike-icon" id="dislike-image">
                    </button>
                    <span>25</span>
                </div>
            </div>
        </div>
        <button class="x-btn">
            <img src="~/images//trash-bin.png" alt="delete" class="x-icon" id="x-image">
        </button>
    </div>
    <div class="comments-content">
        <button id="edit-comment-btn" class="edit-comment-btn">
            <img src="~/images//draw.png" alt="edit" class="edit-icon" id="edit-icon">
        </button>
        <button id="cancel-edit-btn" class="cancel-edit-btn">
            <img src="~/images/x-button.png" alt="cancel" class="cancel-icon" id="cancel-icon">
        </button>
        <div class="main-post">
            <div class="post-info">
                <div class="profile">
                    <button class="profile-btn">
                        <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img" id="profil-img">
                    </button>
                    <span>Iskra</span>
                </div>
                <div class="create-time">
                    <img src="~/images/clock.png" alt="clock" class="clock-icon" id="clock-icon">
                    <div class="date">
                        <span>22:29</span>
                        <label>10-10-2024</label>
                    </div>
                </div>
            </div>
            <div class="editable-post-content">
                <span id="editable-content" class="editable-content">
                    No rel
                </span>
            </div>
            <div class="line">
            </div>
            <div class="action-group">
                <div class="interacted-group">
                    <button class="like-btn">
                        <img src="~/images/like.png" alt="like" class="like-icon" id="like-image">
                    </button>
                    <span>122</span>
                    <button class="dislike-btn">
                        <img src="~/images/dislike.png" alt="dislike" class="dislike-icon" id="dislike-image">
                    </button>
                    <span>25</span>
                </div>
            </div>
        </div>
        <button class="x-btn">
            <img src="~/images/trash-bin.png" alt="delete" class="x-icon" id="x-image">
        </button>
    </div>
    <div class="add-comment-content">
        <button id="edit-comment-btn" class="edit-comment-btn">
            <img src="~/images/draw.png" alt="edit" class="edit-icon" id="edit-icon">
        </button>
        <div class="main-post">
            <div class="post-content">
                <textarea id="comment-textarea" placeholder="Write to comment"></textarea>
            </div>
            <div class="line-add">
            </div>
            <div id="new-comment-action" class="comment-action">
                <button id="cancel-btn" class="cancel-btn">
                    <span>Cancel</span>
                </button>
                <button class="comment-btn">
                    <span>Comment</span>
                </button>
            </div>
        </div>
    </div>
</div>
