@{
    ViewData["Title"] = "User - Remove Ban";
}
@section Styles {
    <link rel="stylesheet" href="~/css/removeBan.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
}
<div class="form-container">
    <form asp-action="RemoveBanConfirmed" asp-controller="User" method="post">
        <input type="hidden" name="id" value="@ViewBag.UserId" />
        <div class="question">
            Are you sure you want remove Ban from <span>@ViewBag.UserName</span>?
        </div>
        <div class="question-info">
            This user is aldready blocked to <span class="red-text">@ViewBag.BanExpiration</span>
        </div>
        <div class="form-actions">
            <button type="button" class="cancel-btn" onclick="window.history.back()">Cancel</button>
            <button type="submit" class="create-btn">Remove</button>
        </div>
    </form>
</div>
