@using Entities = DB.Entities;
@model Entities.File;

<style>
    #photo-select {
        position: relative;
    }

    #photo-select__file {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        visibility: none;
        height: 100%;
        width: 100%;
        color: transparent;
    }

    #photo-select__file::-webkit-file-upload-button {
        display: none;
    }

    #photo-select__selected {
        position: relative;
        cursor: pointer;
    }

    .photo-select__photo--cursor-over {
        opacity: 0.5;
    }

    .photo-select__remove-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }

    .photo-select__remove-img--cursor-over {
        display: block;
    }

    #photo-select__photo {
        height: 100%;
        width: 100%;
    }
</style>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const fileUpload = document.getElementById('photo-select__file');
            const uploadContainer = document.getElementById('photo-select__unselected');
            const deloadContainer = document.getElementById('photo-select__selected');
            const selectedImage = document.getElementById('photo-select__photo');
            const removePhoto = document.querySelector('.photo-select__remove-img');
            const base64Input = document.getElementById('base64')
            const extensionInput = document.getElementById('extension');

            function PhotoUploadedState() {
                uploadContainer.style.display = 'none';
                deloadContainer.style.display = 'block';
                fileUpload.style.display = 'none';
            }
            function PhotoDeloadedState() {
                uploadContainer.style.display = 'block';
                deloadContainer.style.display = 'none';
                uploadContainer.style.display = 'block';
                fileUpload.style.display = 'block';
            }

            deloadContainer.addEventListener('mouseenter', function () {
                selectedImage.classList.add('photo-select__photo--cursor-over');
                removePhoto.classList.add('photo-select__remove-img--cursor-over');
            });
            deloadContainer.addEventListener('mouseleave', function () {
                selectedImage.classList.remove('photo-select__photo--cursor-over');
                removePhoto.classList.remove('photo-select__remove-img--cursor-over');
            });
            deloadContainer.addEventListener('click', () => {
                fileUpload.value = '';
                PhotoDeloadedState();
            });

            fileUpload.addEventListener('change', function (event) {
                const file = event.target.files[0];
                if (file && file.type.startsWith('image/')) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        selectedImage.src = e.target.result;
                        base64Input.value = e.target.result.split(",")[1];
                        extensionInput.value = file.name.split('.').pop();
                    };
                    reader.readAsDataURL(file);
                    PhotoUploadedState();
                } else {
                    alert("Please select a valid image file.");
                }
            });
        });
    </script>

    <div id="photo-select">
        <div style="display: block;" id="photo-select__unselected">
            <div class="photo-select__text">
                Set up your profile image
            </div>
            <div class="photo-select__photo-add-icon">
                <img src="~/images/photo-add-icon.svg" />
            </div>
        </div>
        <div style="display: none;" id="photo-select__selected">
            <img id="photo-select__photo" />
            <img class="photo-select__remove-img" src="~/images/remove.svg" />
        </div>
        <input id="photo-select__file" type="file" accept="image/*">
        <input style="display: none" id="base64" type="text" asp-for="Base64" />
        <input style="display: none" id="extension" type="text" asp-for="Extension" />
    </div>