@section Styles {
    <style>
        .full-page {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: "Inter", system-ui;
        }

        .exchange-rates-main {
            margin-top: 50px;
            max-width: 800px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            font-size: 18px;
        }

        .exchange-rate-block {
            width: fit-content;
            padding: 20px 40px;
            display: block;
            font-weight: 500;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            background-color: #FCFCFC;
        }

        .exchange-rate {
            display: flex;
        }

        .exchange-symbol {
            margin: 0px 20px;
        }

        .currency {
            padding: 15px;
            width: 200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }

        .currency-symbolics {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .probe-time {
            padding-top: 20px;
        }

        .exchange-rate-separator {
            width: 100%;
        }

        section {
            width: 100%;
            margin: 0 auto;
        }

        .main-image {
            width: 100%;
        }
    </style>
}

<div class="full-page">
    <h1>About us</h1>
    <main class="exchange-rates-main">
        <section>
            Welcome to MotoVernal, your go-to destination for connection, knowledge, and innovation. We are a passionate team dedicated to building an inclusive digital space where users can connect, share, and learn. Our platform combines a variety of interactive features— from engaging forums and insightful posts to a dynamic marketplace and an intuitive calendar— all designed to enhance your online experience.
        </section>
        <section>
            Our mission is simple: to create a community-driven environment that encourages collaboration, discovery, and personal growth. We understand that in today’s fast-paced world, it’s important to have a place where you can engage with others, keep track of important events, and access resources that inspire and inform. That’s why we’ve carefully crafted a platform that caters to all your needs, whether you’re here to share your knowledge, buy or sell unique items, or organize your life with ease.
        </section>
        <section>
            We believe in the power of connection. By bringing together a diverse community of thinkers, creators, and innovators, we aim to foster meaningful interactions that inspire positive change. At MotoVener, every voice matters, every idea is valued, and every user is part of something greater.
        </section>
        <section>
            Join us on this exciting journey! Together, we can create, share, and shape a future where everyone thrives.
        </section>
        <img class="main-image" src="~/images/8357614.jpg" />
    </main>
</div>