@{
    ViewData["Title"] = "Store - Add Offer";
}
@section Styles {
    <link rel="stylesheet" href="~/css/addOffer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
}
<main>
    <div class="main-container">
        <div class="offer-add-container">
            <div class="vehicle-model">
                <div class="photo">
                    <img src="~/images/example-vehicle(1).png" />
                </div>
                <div class="mark">
                    Audi
                </div>
                <div class="model">
                    A6 C7 3.0tdi
                </div>
            </div>
            <ul class="vehicle-info-nav">
                <li class="vehicle-info-nav-group">
                    <div class="nav-group-title">
                        <div class="nav-group-title-text">
                            Specification
                        </div>
                    </div>
                    <ul>
                        <li>
                            Vehicle base informations
                        </li>
                        <li>
                            Additional features
                        </li>
                    </ul>
                </li>
                <li class="vehicle-info-nav-group">
                    <div class="nav-group-title">
                        <div class="nav-group-title-text">
                            Vehicle's life
                        </div>
                    </div>
                    <ul>
                        <li>
                            Vehicle state information
                        </li>
                    </ul>
                </li>
                <li class="vehicle-info-nav-group">
                    <div class="nav-group-title">
                        <div class="nav-group-title-text">
                            Directly provided
                        </div>
                    </div>
                    <ul>
                        <li>
                            Description
                        </li>
                        <li>
                            Photos
                        </li>
                    </ul>
                </li>
                <li class="vehicle-info-nav-group">
                    <div class="nav-group-title">
                        <div class="nav-group-title-text">
                            Personal
                        </div>
                    </div>
                    <ul>
                        <li>
                            Contact informations
                        </li>
                        <li>
                            Location
                        </li>
                        <li>
                            Price
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="offer-add-category">
            <div class="category-info">
                <div class="category-title">
                    Vehicle base information
                </div>
                <div class="description">
                    Provide us basic inforamations about your vehicle
                </div>
            </div>
            <div class="vehicle-info-form">
                <input type="text" name="" id="" placeholder="Brand">
                <input type="text" name="" id="" placeholder="Model">
                <input type="text" name="" id="" placeholder="Generation">
                <input type="text" name="" id="" placeholder="Version">
            </div>
        </div>
    </div>
</main>