@{
    ViewData["Title"] = "Store - Details Offer";
}
@section Styles {
    <link rel="stylesheet" href="~/css/detailsOffer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
}
<main>
    <ul class="breadcrumb">
        <li>
            Offers
        </li>
        <li>
            Vehicle
        </li>
        <li>
            Audi
        </li>
        <li>
            A6
        </li>
        <li>
            C7
        </li>
    </ul>
    <h1>
        Used Audi A6 C7 Allroad Quattro
    </h1>
    <div class="content">
        <div class="main-photo">
            <div class="arrow-left">
                <img src="~/images/arrow-triange-left.svg" />
            </div>
            <img class="photo-inside" src="/images/example-vehicle.png" />
            <div class="arrow-right">
                <img src="~/images/arrow-triangle-right.svg" />
            </div>
        </div>
        <div class="action-btns">
            <div class="action-btn">
                <div class="action-text">
                    Save offer
                </div>
                <div class="action-icon">
                    <img src="~/images/pin-black.svg" />
                </div>
            </div>
            <div class="action-btn">
                <div class="action-text">
                    Share
                </div>
                <div class="action-icon">
                    <img src="~/images/share.svg" />
                </div>
            </div>
            <div class="action-btn">
                <div class="action-text">
                    Report
                </div>
                <div class="action-icon">
                    <img src="~/images/flag.svg" />
                </div>
            </div>
            <div class="action-btn">
                <div class="action-text">
                    Contact user
                </div>
                <div class="action-icon">
                    <img src="~/images/envelope.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="product-info-2">
        <div class="category-info">
            <ul class="info-categories">
                <li class="current-category">
                    Overview
                </li>
                <li>
                    Description
                </li>
                <li>
                    Seller
                </li>
            </ul>
            <div class="overview">
                <ul class="properties">
                    <li>
                        <div class="label">Brand</div>
                        <div class="value">Audi</div>
                    </li>
                    <li>
                        <div class="label">Model</div>
                        <div class="value">A6</div>
                    </li>
                    <li>
                        <div class="label">Generation</div>
                        <div class="value">135hp</div>
                    </li>
                    <li>
                        <div class="label">Version</div>
                        <div class="value">Allroad Quattro</div>
                    </li>
                    <li>
                        <div class="label">Transmission</div>
                        <div class="value">Automatic</div>
                    </li>
                    <li>
                        <div class="label">Engine</div>
                        <div class="value">Diesel</div>
                    </li>
                    <li>
                        <div class="label">Drive</div>
                        <div class="value">4x4</div>
                    </li>
                    <li>
                        <div class="label">Body</div>
                        <div class="value">Sedan</div>
                    </li>
                    <li>
                        <div class="label">Color</div>
                        <div class="value">White</div>
                        <div class="value">White</div>
                    </li>
                </ul>
                <ul class="properties">
                    <li>
                        <div class="label">Condition</div>
                        <div class="value">Used</div>
                    </li>
                    <li>
                        <div class="label">Number of seats</div>
                        <div class="value">5</div>
                    </li>
                    <li>
                        <div class="label">Year of production</div>
                        <div class="value">2012</div>
                    </li>
                    <li>
                        <div class="label">Mileage</div>
                        <div class="value">135 567km</div>
                    </li>
                    <li>
                        <div class="label">First owner</div>
                        <div class="value">Yes</div>
                    </li>
                    <li>
                        <div class="label">VIN</div>
                        <div class="value">4d3h43hd</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-price">
            <div class="price-group">
                <div class="price-amount">
                    69 599 PLN
                </div>
                <div class="price-label">
                    Cena brutto
                </div>
            </div>
            <div class="negotiation-info">
                Cena podlega negocjacji
            </div>
            <div class="currency-options">
                Check in different currency
            </div>
        </div>
    </div>
</main>
