@{
    ViewData["Title"] = "Store - Search Offers";
}
@section Styles {
    <link rel="stylesheet" href="~/css/searchOffers.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
}
@section Scripts {
    <script src="~/js/searchOffers.js"></script>
}
<main>
    <div class="search-box">
        <div class="search-type-selection">
            <div class="search-type-group">
                <img src="~/images/car.svg" alt="">
                <div>Vehicles</div>
            </div>
            <div class="search-type-group">
                <img src="~/images/part.svg" alt="">
                <div>Parts</div>
            </div>
        </div>
        <div class="search-box-content">
            <div class="search-box-content__column">
                <div class="search-key-group">
                    <div class="search-key">
                        <select id="brand-select">
                            <option value="" disabled selected>Brand</option>
                            <option value="brand1">Marka 1</option>
                            <option value="brand2">Marka 2</option>
                            <option value="brand3">Marka 3</option>
                        </select>
                        <img src="~/images/arrow-down-empty.svg">
                    </div>
                </div>
                <div class="search-key-group">
                    <div class="search-key">
                        <select id="price-from">
                            <option value="" disabled selected>Price from</option>
                            <option value="0">0</option>
                            <option value="5000">5000</option>
                            <option value="10000">10000</option>
                            <option value="15000">15000</option>
                        </select>
                        <img src="~/images/arrow-down-empty.svg">
                    </div>
                    <div class="search-key">
                        <select id="price-to">
                            <option value="" disabled selected>Price to</option>
                            <option value="5000">5000</option>
                            <option value="10000">10000</option>
                            <option value="15000">15000</option>
                            <option value="20000">20000</option>
                        </select>
                        <img src="~/images/arrow-down-empty.svg">
                    </div>
                </div>
                <div class="search-key-group advanced-key-group hidden">
                    <div class="search-key">
                        <select id="condition-select">
                            <option value="" disabled selected>Condition</option>
                            <option value="new">Nowy</option>
                            <option value="used">Używany</option>
                        </select>
                        <img src="~/images/arrow-down-empty.svg">
                    </div>
                </div>
            </div>
            <div class="search-box-content__column">
                <div class="search-key-group">
                    <div class="search-key">
                        <select id="model-select">
                            <option value="" disabled selected>Model</option>
                            <option value="model1">Model 1</option>
                            <option value="model2">Model 2</option>
                            <option value="model3">Model 3</option>
                        </select>
                        <img src="~/images/arrow-down-empty.svg">
                    </div>
                </div>
                <div class="search-key-group">
                    <div class="search-key">
                        <select id="body-select">
                            <option value="" disabled selected>Body</option>
                            <option value="sedan">Sedan</option>
                            <option value="suv">SUV</option>
                            <option value="hatchback">Hatchback</option>
                        </select>
                        <img src="~/images/arrow-down-empty.svg">
                    </div>
                    <div class="search-key">
                        <select id="type-select">
                            <option value="" disabled selected>Type</option>
                            <option value="type1">Typ 1</option>
                            <option value="type2">Typ 2</option>
                        </select>
                        <img src="~/images/arrow-down-empty.svg">
                    </div>
                </div>
                <div class="search-key-group advanced-key-group hidden">
                    <div class="search-key">
                        <select id="location-select">
                            <option value="" disabled selected>Location</option>
                            <option value="location1">Lokalizacja 1</option>
                            <option value="location2">Lokalizacja 2</option>
                        </select>
                        <img src="~/images/arrow-down-empty.svg">
                    </div>
                    <div class="search-key">
                        <select id="radius-select">
                            <option value="" disabled selected>Radius</option>
                            <option value="5">5 km</option>
                            <option value="10">10 km</option>
                            <option value="20">20 km</option>
                        </select>
                        <img src="~/images/arrow-down-empty.svg">
                    </div>
                </div>
            </div>
            <div class="search-box-content__column">
                <div class="search-key-group advanced-key-group hidden">
                    <div class="search-key">
                        <select id="generation-select">
                            <option value="" disabled selected>Generation</option>
                            <option value="gen1">Generacja 1</option>
                            <option value="gen2">Generacja 2</option>
                        </select>
                        <img src="~/images/arrow-down-empty.svg">
                    </div>
                </div>
                <div class="search-key-group advanced-key-group hidden">
                    <div class="search-key">
                        <select id="mileage-from">
                            <option value="" disabled selected>Mileage from</option>
                            <option value="0">0 km</option>
                            <option value="10000">10000 km</option>
                            <option value="20000">20000 km</option>
                        </select>
                        <img src="~/images/arrow-down-empty.svg">
                    </div>
                    <div class="search-key">
                        <select id="mileage-to">
                            <option value="" disabled selected>Mileage to</option>
                            <option value="10000">10000 km</option>
                            <option value="20000">20000 km</option>
                            <option value="30000">30000 km</option>
                        </select>
                        <img src="~/images/arrow-down-empty.svg">
                    </div>
                </div>
                <div class="search-key-group advanced-key-group hidden">
                    <div class="search-key">
                        <select id="year-from">
                            <option value="" disabled selected>Year from</option>
                            <option value="2000">2000</option>
                            <option value="2005">2005</option>
                            <option value="2010">2010</option>
                        </select>
                        <img src="~/images/arrow-down-empty.svg">
                    </div>
                    <div class="search-key">
                        <select id="year-to">
                            <option value="" disabled selected>Year to</option>
                            <option value="2010">2010</option>
                            <option value="2015">2015</option>
                            <option value="2020">2020</option>
                        </select>
                        <img src="~/images/arrow-down-empty.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="action-box">
            <button id="advanced-search">
                <img src="~/images/advanced-search-icon.svg">
                <div>Advanced search</div>
            </button>
            <button id="submit-button" onclick="window.location.href='/Store/VehiclesList'">
                Search
            </button>
        </div>
    </div>
</main>
