@{
    ViewData["Title"] = "Store - Search Offers";
}
@section Styles {
    <link rel="stylesheet" href="~/css/searchOffers.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
}
@section Scripts {
    <script src="~/js/searchOffers.js"></script>
}
<div class="search-offers">
    <form class="search-box" asp-action="VehiclesList" method="get">
        <div class="search-type-selection">
            <div class="search-type-group">
                <img src="~/images/car.svg" alt="">
                <div>Vehicles</div>
            </div>
        </div>
        <div class="search-box-content">
            <div class="search-box-content__column">
                <div class="search-key-group">
                    <div class="search-key">
                        <input type="text" placeholder="Brand" name="Brand"/>
                        <img class="filter__search-icon" src="~/images/search.svg" />
                    </div>
                </div>
                <div class="search-key-group">
                    <div class="search-key">
                        <input type="number" placeholder="Price from" name="Price[gte]"/>
                    </div>
                    <div class="search-key">
                        <input type="number" placeholder="Price to" name="Price[lte]"/>
                    </div>
                </div>
                <div class="search-key-group advanced-key-group hidden">
                    <div class="search-key">
                        <select id="condition-select" asp-items="Html.GetEnumSelectList<DB.Enums.VehicleCondition>()" name="Condition">
                            <option value="" disabled selected>Condition</option>
                        </select>
                        <img src="~/images/arrow-down-empty.svg">
                    </div>
                </div>
            </div>
            <div class="search-box-content__column">
                <div class="search-key-group">
                    <div class="search-key">
                        <input type="text" placeholder="Model" name="Model"/>
                        <img class="filter__search-icon" src="~/images/search.svg" />
                    </div>
                </div>
                <div class="search-key-group">
                    <div class="search-key">
                        <select id="body-select" asp-items="Html.GetEnumSelectList<DB.Enums.BodyType>()" name="Body">
                            <option value="" disabled selected>Body</option>
                        </select>
                        <img src="~/images/arrow-down-empty.svg">
                    </div>
                    <div class="search-key">
                        <select id="type-select" asp-items="Html.GetEnumSelectList<DB.Enums.TransmissionType>()" name="Transmission">
                            <option value="" disabled selected>Type</option>
                        </select>
                        <img src="~/images/arrow-down-empty.svg">
                    </div>
                </div>
                <div class="search-key-group advanced-key-group hidden">
                    <div class="search-key">
                        <input type="text" placeholder="Location" name="Location" />
                        <img class="filter__search-icon" src="~/images/search.svg" />
                    </div>
                </div>
            </div>
            <div class="search-box-content__column">
                <div class="search-key-group advanced-key-group hidden">
                    <div class="search-key">
                        <input type="text" placeholder="Generation" name="Generation"/>
                        <img class="filter__search-icon" src="~/images/search.svg" />
                    </div>
                </div>
                <div class="search-key-group advanced-key-group hidden">
                    <div class="search-key">
                        <input type="number" placeholder="Mileage from" name="Mileage[gte]"/>
                    </div>
                    <div class="search-key">
                        <input type="number" placeholder="Mileage to" name="Mileage[lte]"/>
                    </div>
                </div>
                <div class="search-key-group advanced-key-group hidden">
                    <div class="search-key">
                        <input type="number" placeholder="Year from" name="YearOfProduction[gte]"/>
                    </div>
                    <div class="search-key">
                        <input type="number" placeholder="Year from" name="YearOfProduction[lte]"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="action-box">
            <button id="advanced-search">
                <img src="~/images/advanced-search-icon.svg">
                <div>Advanced search</div>
            </button>
            <button id="submit-button" type="submit">
                Search
            </button>
        </div>
    </form>
</div>
