@{
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="login-template">
        <div class="title">
            Log in or sign up
        </div>
        <div class="description">
            Give us your email, we will check if you are registered
        </div>
        <div class="email">
            <div class="email-inside">
                <div class="input-info">
                    Email Address
                </div>
                <div class="email-input">
                    niedzmat@gmail.com
                </div>
            </div>
        </div>
        <button class="sign_in-btn">
            Sign in
        </button>
        <div class="proposal">
            <div class="horizontal-line"></div>
            <div class="or">
                or
            </div>
        </div>
        <div>
            <img src="~/images/login-google.svg" />
        </div>
    </div>
</body>
