@{
    ViewData["Title"] = "App - Profiles List";
}
@section Styles {
    <link rel="stylesheet" href="~/css/profilesList.css" />
}
<section>
    <div class="up-section">
        <div class="nav-tree">
            <label for="place">App</label>
        </div>
        <div class="sort">
            <label for="sort_by">Sort By</label>
            <select id="type">
                <option value="alpabetical_asc">Alpabetical ACS</option>
                <option value="alphabetical_desc">Alpabetical DESC</option>
            </select>
        </div>
    </div>
    <div class="second-section">
        <div class="search-bar">
            <img src="~/images/peel.svg" alt="peel" class="peel-icon" id="peel-icon">
            <input type="text" id="search" placeholder="Search">
        </div>
    </div>
</section>
<main>
    <div class="side-section">
        <div class="filter-by">
            <label>Filter by</label>
            <button class="clear">
                <span>X Clear All</span>
            </button>
        </div>
        <div class="location-group">
            <label for="status">Type</label>
            <div class="status-group">
                <label class="status">Observed</label>
                <input type="checkbox" id="status1" name="owner" value="owner">
            </div>
            <div class="status-group">
                <label class="status">Admin</label>
                <input type="checkbox" id="status2" name="interested" value="interested">
            </div>
        </div>
    </div>
    <ol>
        <li>
            <span class="id">1.</span>
            <span class="nickname">RoyBig</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star.png" alt="star-img" class="star-img">
            </button>
        </li>
        <li>
            <span class="id">1.</span>
            <span class="nickname">RoyBig</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star (1).png" alt="star-img" class="star-img">
            </button>
        </li>
        <li class="admin">
            <span class="id">1.</span>
            <span class="nickname">Dzwiedziu</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star (1).png" alt="star-img" class="star-img">
            </button>
        </li>
        <li>
            <span class="id">1.</span>
            <span class="nickname">RoyBig</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star.png" alt="star-img" class="star-img">
            </button>
        </li>
        <li>
            <span class="id">1.</span>
            <span class="nickname">RoyBig</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star (1).png" alt="star-img" class="star-img">
            </button>
        </li>
        <li>
            <span class="id">1.</span>
            <span class="nickname">RoyBig</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star.png" alt="star-img" class="star-img">
            </button>
        </li>
        <li>
            <span class="id">1.</span>
            <span class="nickname">RoyBig</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star (1).png" alt="star-img" class="star-img">
            </button>
        </li>
        <li class="admin">
            <span class="id">1.</span>
            <span class="nickname">Dzwiedziu</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star (1).png" alt="star-img" class="star-img">
            </button>
        </li>
        <li>
            <span class="id">1.</span>
            <span class="nickname">RoyBig</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star.png" alt="star-img" class="star-img">
            </button>
        </li>
        <li>
            <span class="id">1.</span>
            <span class="nickname">RoyBig</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star (1).png" alt="star-img" class="star-img">
            </button>
        </li>
        <li>
            <span class="id">1.</span>
            <span class="nickname">RoyBig</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star.png" alt="star-img" class="star-img">
            </button>
        </li>
        <li>
            <span class="id">1.</span>
            <span class="nickname">RoyBig</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star (1).png" alt="star-img" class="star-img">
            </button>
        </li>
        <li class="admin">
            <span class="id">1.</span>
            <span class="nickname">Dzwiedziu</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star (1).png" alt="star-img" class="star-img">
            </button>
        </li>
        <li>
            <span class="id">1.</span>
            <span class="nickname">RoyBig</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star.png" alt="star-img" class="star-img">
            </button>
        </li>
        <li>
            <span class="id">1.</span>
            <span class="nickname">RoyBig</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star (1).png" alt="star-img" class="star-img">
            </button>
        </li>
        <li>
            <span class="id">1.</span>
            <span class="nickname">RoyBig</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star.png" alt="star-img" class="star-img">
            </button>
        </li>
        <li>
            <span class="id">1.</span>
            <span class="nickname">RoyBig</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star (1).png" alt="star-img" class="star-img">
            </button>
        </li>
        <li class="admin">
            <span class="id">1555.</span>
            <span class="nickname">Dzwiedziu</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star (1).png" alt="star-img" class="star-img">
            </button>
        </li>
        <li>
            <span class="id">1.</span>
            <span class="nickname">RoyBig</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star.png" alt="star-img" class="star-img">
            </button>
        </li>
        <li>
            <span class="id">1.</span>
            <span class="nickname">RoyBig</span>
            <button class="profile">
                <img src="~/images/profilowe.jpg" alt="profil-img" class="profil-img">
            </button>
            <button class="observed">
                <img src="~/images/star (1).png" alt="star-img" class="star-img">
            </button>
        </li>
    </ol>
</main>
