@model List<DB.Entities.Ban>;
@{
    ViewData["Title"] = "User - Ban Details";
}
@section Styles {
    <link rel="stylesheet" href="~/css/profileView.css" />
}
<div class="form-container">
    @foreach (var ban in Model){
    <div class="profile-header">
        @if (ban.Banned.ProfileImage != null && !string.IsNullOrEmpty(ban.Banned.ProfileImage.Base64) && !string.IsNullOrEmpty(ban.Banned.ProfileImage.Extension))
        {
            <img id="profil-img" class="profil-img" src="data:image/@ban.Banned.ProfileImage.Extension;base64,@ban.Banned.ProfileImage.Base64" />
        }
        else
        {
            <img src="~/images/profilowe.jpg" id="profil-img" alt="profil" class="profil-img">
        }
        <span>@ban.Banned.UserName</span>
    </div>
    <div class="Form-group">
        <label for="datetime-from">Ban to</label>
        <input type="datetime-local" id="datetime-from" >
    </div>
    <div class="form-group">
        <label for="content"></label>
        <textarea id="content" rows="8" cols="50" placeholder="Reason for banning"></textarea>
    </div>
    <div class="form-group image-upload">
        <label for="image-upload">Load image</label>
        <input type="file" id="image-upload">
    </div>

    <div class="form-actions">
        <button type="button" class="cancel-btn" style="background: red;" onclick="window.location.href='/user/ProfileView?id=@ban.Banned.Id'">Cancel</button>
        <button type="submit" class="create-btn" style="background: red;">Ban</button>s
    </div>
   }
</div>