@model List<BusinessLogic.DTO.User.GetUserDTO>
@{
    ViewData["Title"] = "User - Profiles List";
}
@section Styles {
    <link rel="stylesheet" href="~/css/profilesList.css" />
}
<section>
    <div class="up-section">
        <div class="nav-tree">
            <label for="place">App</label>
        </div>
        <div class="sort">
            <label for="sort_by">Sort By</label>
            <select id="type">
                <option value="alpabetical_asc">Alpabetical ACS</option>
                <option value="alphabetical_desc">Alpabetical DESC</option>
            </select>
        </div>
    </div>
    <div class="second-section">
        <div class="search-bar">
            <img src="~/images/peel.svg" alt="peel" class="peel-icon" id="peel-icon">
            <input type="text" id="search" placeholder="Search">
        </div>
    </div>
</section>
<div class="main-cnt">
    <div class="side-section">
        <div class="filter-by">
            <label>Filter by</label>
            <button class="clear">
                <span>X Clear All</span>
            </button>
        </div>
        <div class="location-group">
            <label for="status">Type</label>
            <div class="status-group">
                <label class="status">Observed</label>
                <input type="checkbox" id="status1" name="owner" value="owner">
            </div>
            <div class="status-group">
                <label class="status">Admin</label>
                <input type="checkbox" id="status2" name="interested" value="interested">
            </div>
        </div>
    </div>
    <ol>
        @foreach(var user in Model)
        {
            bool isAdmin = user.Roles.Contains("Admin");
            <li class="@(isAdmin ? "admin" : "")">
                <span class="nickname">@user.UserName</span>
                <button class="profile" onclick="window.location.href='/user/ProfileView?id=@user.Id'">
                    @if (user.ProfileImage != null && !string.IsNullOrEmpty(user.ProfileImage.Base64) && !string.IsNullOrEmpty(user.ProfileImage.Extension))
                    {
                        <img class="profil-img" src="data:image/@user.ProfileImage.Extension;base64,@user.ProfileImage.Base64" />
                    }
                    else
                    {
                        <img src="~/images/profilowe.jpg" id="profil-img" alt="profil" class="profil-img">
                    }
                </button>

                @if (user.IsObserved)
                {
                    <form asp-action="StopObserveUser" method="post">
                        <input type="hidden" name="id" value="@user.Id" />
                        <button type="submit" class="observed">
                            <img src="~/images/star.png" alt="Unobserve" class="star-img" />
                        </button>
                    </form>
                }
                else
                {
                    <form asp-action="ObserveUser" method="post">
                        <input type="hidden" name="id" value="@user.Id" />
                        <button type="submit" class="observed">
                            <img src="~/images/star (1).png" alt="Observe" class="star-img" />
                        </button>
                    </form>
                }
            </li>
        }
    </ol>
</div>
